{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>

            {% for pharmacy in pharmacies %}
                <tr>
                    <td>{{ pharmacy.getId }}</td>
                    <td>{{ pharmacy.getName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary btn-xs btn-block" href="{{ url("pharmacy-add") }}" role="button">Add</a>

{% endblock %}
